<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FishbowlUser" value="username"/>
    <add key="FishbowlPassword" value="password"/>
    <add key="FishbowlServer" value="localhost"/>
    <add key="FishbowlPort" value="28192"/>
    <add key="FishbowlRequests" value="true"/>
    <add key="FishbowlLegacyRequests" value="false"/>
    <add key="HttpPort" value="1234"/>
    <add key="EnableHttps" value="false"/>
    <add key="KeepAliveSleep" value="5"/>
  </appSettings>
</configuration>